<h1 class="animated fadeIn fast" class="text-center">Se ha buscado: <small>{{dato}}</small> </h1>
<hr>
<h5> Resultados: </h5>
<br>
<div class="col animated fadeIn fast" *ngFor="let ruta of rutas; let i=index">
    <div class="animated fadeIn fast card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde: {{ruta.ciuorigen}} a {{ruta.ciudestino}}</h5>                    
                    <p class="card-text">Descripcion: {{ruta.descrip}}</p>
                    <p class="card-text">Valor: {{ruta.valor}}</p>
                    <p class="card-text"><small class="text-body-secondary">Tipo: {{ruta.tipo}}</small></p>                    
                </div>
            </div>
        </div>       
    </div>
</div>