<h1 class="animated fadeIn fast">Rutas <small>CIFA</small> </h1>
<hr>

<div class="col animated fadeIn fast" *ngFor="let ruta of rutas; let i=index">
  <div class="animated fadeIn fast card mb-3" style="max-width: 540px;">
    <div class="row-cols-2"></div>
        <div class="row g-0">
          
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Viajes:</h5>
              <p class="card-text"> {{ruta.ciudestino}} a {{ruta.ciuorigen}}</p>
              <p class="card-text">Descripción: {{ruta.descrip}}</p>
              <p class="card-text"> Valor: $ {{ruta.precio}}</p>  
              <p class="card-text"><small class="text-body-secondary">Tipo: {{ruta.tipo}}</small></p>   
              <button type="button" class="btn btn-primary">Reserva tu boleto</button>
            </div>
        </div>
    </div>
  </div>
</div>